<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
<!-- 	<Listener className="org.apache.catalina.core.JasperListener" />
	<Listener className="org.apache.catalina.core.AprLifecycleListener"
		SSLEngine="on" />
	<Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
	<Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
	<Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" /> -->

	<GlobalNamingResources>
<!-- 		<Resource name="UserDatabase" auth="Container"
			type="org.apache.catalina.UserDatabase" description="User database that can be updated and saved"
			factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
			pathname="conf/tomcat-users.xml" /> -->
	</GlobalNamingResources>

	<Service name="Catalina">
		<Connector port="8080" protocol="HTTP/1.1"
			connectionTimeout="20000" />
		<Connector port="8010" protocol="AJP/1.3" />

		<Engine name="Catalina" defaultHost="localhost">

			<Realm className="org.apache.catalina.realm.JAASRealm" appName="adjudicator"
				userClassNames="villanova.ethicalhacking.JAASUserPrincipal,villanova.ethicalhacking.JAASPasswordPrincipal"
				roleClassNames="villanova.ethicalhacking.JAASRolePrincipal"  />

			<!-- <Realm className="org.apache.catalina.realm.JDBCRealm" username="root" 
				connectionPassword="password" driverName="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/adjudicator?user=root&amp;password=password;" 
				userTable="users" userNameCol="name" userCredCol="password" userRoleTable="user_roles" 
				roleNameCol="user_role_name"/> -->
			<!-- userRoleTable="userAuth" roleNameCol="groupname" digest="SHA-512" 
				/> <Realm className="org.apache.catalina.realm.LockOutRealm"> <Realm className="org.apache.catalina.realm.UserDatabaseRealm" 
				resourceName="UserDatabase" /> -->

			<Host name="localhost" appBase="webapps" unpackWARs="true"
				autoDeploy="true">
				<Valve className="org.apache.catalina.valves.AccessLogValve"
					directory="logs" prefix="localhost_access_log." suffix=".txt"
					pattern="%h %l %u %t &quot;%r&quot; %s %b" />
			</Host>
		</Engine>
	</Service>
</Server>