adjudicator {
   JAASLoginModule required
   dbDriver="com.mysql.jdbc.Driver"
   dbURL="jdbc:mysql://localhost:3306/adjudicator"
   dbUser="root"
   dbPassword="password"
   userQuery="select user_name from users where users.user_name=? and users.user_pass=?"
   roleQuery="select user_roles.role_name from users, user_roles "
             + "where users.user_name=user_roles.user_name and users.user_name=?"
   debug=true;
};