adjudicator {
   villanova.ethicalhacking.JAASLoginModule required dbDriver="com.mysql.jdbc.Driver" dbURL="jdbc:mysql://localhost:3306/adjudicator" dbUser="root" dbPassword="password" userQuery="select user_name from users where users.user_name=? and users.user_pass=?" roleQuery="select roles.role_name from users, roles, user_roles where users.id=user_roles.user_id and users.user_name=? and roles.id=user_roles.role_id" debug=true;
};